// LAYOUT

html
    background-attachment: fixed
    background-position: cover
    overflow-x: hidden

.container
    @extend .clearfix
    margin: 0 auto
    max-width: 960px

.page
    @extend .clearfix
    .container
        padding-top: 66px

// MEDIUM

@media screen and (max-width: $medium)
    .container
        padding: 0 15px
    .page .container
        padding-top: 185px

// SMALL

@media screen and (max-width: $small)
